.navbar {
    font-family: Arial;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1px 3px 50px 0px rgb(241, 237, 237);

}
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: rgb(73, 156, 142);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .drop {
    float: left;
    overflow: hidden;
  }
  
  .dropbtn {
    cursor: pointer;
    font-size: 16px; 
    border: none;
    outline: none;
    color: rgb(73, 156, 142);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; 
    margin: 0;    
   }
  
  a:hover,.dropbtn:hover{
    background-color: #ddd;
  }
  
  .drop-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .drop-content a {
    float: none;
    color: rgb(73, 156, 142);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    padding: 15px;
  }
  
  .drop-content a:hover {
    background-color: #ddd;
  }
  
  .drop:hover .drop-content {
    display: block;
  }




  